certifi==2021.10.8
charset-normalizer==2.0.12
click==8.0.4
Flask==2.0.3
Flask-Cors==3.0.10
idna==3.3
itsdangerous==2.1.0
Jinja2==3.0.3
jsonpickle==2.0.0
MarkupSafe==2.1.0
netifaces==0.11.0
numpy==1.22.2
pycryptodome==3.14.1
python-dotenv==0.19.2
requests==2.26.0
six==1.16.0
urllib3==1.26.8
Werkzeug==2.0.3
matplotlib==3.5.1